@import "sidenav.css";
@import "brandnav.css";

@custom-media --motionOK (prefers-reduced-motion: no-preference);

:root {
    --surface: lch(10 0 0);
    --surface2: lch(20 0 0);
    --text: lch(90 0 0);
    --text2: lch(70 0 0);
    --textSize: 1.5rem;
    --brandHSL: 328 100% 54%;

    @media (prefers-color-scheme: light) {
        --surface: lch(90 0 0);
        --surface2: lch(100 0 0);
        --text: lch(20 0 0);
        --text2: lch(40 0 0);
    }

    @media (max-width: 1200px) {
        --textSize: 1.0rem;
    }
}


* {
    box-sizing: border-box;
    margin: 0;
}

body {
    min-block-size: 100vh;
    font-family: "BLOKK", system-ui;
    margin: 0;
    padding: 0;
    background: var(--surface);
    color: var(--text);
}

h1, h2, h3, h4, figure {
    margin: 0;
    color: var(--text);
}

h2 {
    font-size: 2.5rem;
}

h3 {
    font-size: 1.5rem;
    max-inline-size: 30ch;
}

p {
    line-height: 1.5;
    color: var(--text2);
    max-inline-size: 100%;
    font-size: var(--textSize);
}

a {
    color: hsl(328 100% 74%);
    outline-color: hsl(var(--brandHSL));
    outline-offset: 5px;

    &:hover {
        color: hsl(var(--brandHSL));
    }
}

table {
    width: 100%;
    border-collapse: collapse;
    caption-side: bottom;

}


tr:nth-child(odd) {
    background: #eee;
}

td, th {
    width: 100%;
    text-align: left;
}

th {
//background: yellow; color: hsl(328 100% 74%); outline-color: hsl(var(--brandHSL));
}

letter-animation {
    @media (--motionOK) {

        @nest [&] > span {
            display: inline-block;
            white-space: break-spaces;
        }

        @nest [&="breath"] {
            --glow-color: white;

            & > span {
                animation:
                        breath 1200ms ease
                        calc(var(--index) * 100 * 1ms)
                        infinite alternate;
            }

            @media (prefers-color-scheme: light) { & {
                --glow-color: black;
            }}
        }

        @nest [&="hover"] {
            &:hover > span {
                transform: scale(.75) perspective(1px);
            }

            & > span {
                transition: transform .3s ease;
                cursor: pointer;
                will-change: transform;

                &:hover {
                    transform: scale(1.25) perspective(1px);
                }
            }
        }
    }
}

word-animation {
    @media (--motionOK) {

        @nest [&] {
            display: inline-flex;
            flex-wrap: wrap;
            gap: 1ch;
        }

        @nest [&="trampoline"] {
            & > span {
                display: inline-block;
                transform: translateY(100%);
                animation:
                        trampoline 3s ease
                        calc(var(--index) * 150 * 1ms)
                        infinite alternate;
            }
        }

        @nest [&="hover"] {
            @media (hover) {
                overflow: hidden;
                overflow: clip;

                & > span {
                    transition: transform .3s ease;
                    cursor: pointer;

                    &:not(:hover) {
                        transform: translateY(50%);
                    }
                }
            }
        }
    }
}

@keyframes breath {
    from {
        animation-timing-function: ease-out;
    }
    to {
        transform: scale(1.25) translateY(-5px) perspective(1px);
        text-shadow: 0 0 40px var(--glow-color);
        animation-timing-function: ease-in-out;
    }
}

@keyframes trampoline {
    0% {
        transform: translateY(100%);
        animation-timing-function: ease-out;
    }
    50% {
        transform: translateY(0);
        animation-timing-function: ease-in;
    }
}